@import url('https://fonts.googleapis.com/css?family=Heebo|Roboto:100,300,400|Ubuntu:500');

:root {
  --dark-purp: #280F36;
  --light-purp: #632B6C;
  --purp-pink: #C76A98;
  --peach: #F19E9C;
  --house: #FBC3A3;
  --material-blue: #2395F3;
  --grey: #FAFAFA;
  --nice-orange: #F38324;
  --hover-blue: #2089E0;
}

::selection {
  background: var(--material-blue);
}

#update {
  color: red;
}

#update:hover {
  cursor: pointer;
}

body {
  background: #FAFAFA;
}

.App {
  background: #FAFAFA;
  /* background: linear-gradient(to bottom right, var(--dark-purp), var(--light-purp)); */
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  color: #111;
  font-family: "Roboto", sans-serif;
  /* font-weight: 100; */
}

.header-container {
  /* position: fixed; */
  display: flex;
  justify-content: flex-end;
  min-height: 75px;
  width: 100%;
  background: var(--material-blue);
  color: white;
  align-items: center;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.30);
  margin-bottom: 30px;
  font-weight: 300;
}

#logo-container {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50px;
  color: black;
  width: 25%;
}

#logo-name {
  margin-left: 15px;
  color: white;
  font-weight: 500;
  font-size: 24px;
}

.logo {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
}

#logo1 {
  background: white;
}

#logo2 {
  background: var(--material-blue);
  height: 36px;
  width: 36px;
}

#logo3 {
  background: var(--nice-orange);
  height: 32px;
  width: 32px;
}

#logo4 {
  background: white;
  height: 28px;
  width: 28px;
}

#logo5 {
  background: var(--material-blue);
  height: 24px;
  width: 24px;
}

#logo6 {
  background: var(--nice-orange);
  height: 20px;
  width: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
}

.burger {
  display: none;
}

.header-button {
  transition: background-color, padding, font-size, 400ms;
  font-size: 16px;
}

.header-button:hover {
  cursor: pointer;
  background-color: var(--hover-blue);
  padding: 10px;
  border-radius: 50px;
  font-size: 18px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-button {
  min-width: 300px;
  width: 23vw;
  background-color: var(--nice-orange);
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 50px;
  font-size: 2rem;
  transition: background-color 500ms;
}

.welcome-button:hover {
  background-color: #FF6324;
}

/* Trying to make fancy button highlight change */
/* .inner-welcome-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 1s, height 1s, width 1s, border-radius 1s, 1000ms;
}

.inner-welcome-button:hover {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background-color: yellow;
  transition: border-radius 1000ms;
} */

.outer-login-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: white;
  min-width: 320px;
  width: 60%;
  min-height: 500px;
  height: 100%;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input {
  background: var(--grey);
}

.login-form {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.login-form-button {
  background: var(--nice-orange);
  border: none;
  border-radius: 50px;
  margin-top: 2px;
}

.inner-user-profile-container {
  display: flex;
  width: 100%;
}

.line {
  min-width: 300px;
  width: 100%;
  margin: 0 10px 0 15px;
}

.user-profile {
  background: white;
  min-width: 500px;
  width: 50%;
  height: 270px;
  margin-left: 16px;
  margin-bottom: 10px;
  box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.30);
}

.user-profile img {
  height: 150px;
  width: 150px;
  border: 1px solid black;
  border-radius: 100%;
  align-self: flex-start;
  margin: 15px 0 0 15px;
}

.user-experience-list {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  background: #FAFAFA;
  margin: 0 8px 0 8px;
}

.user-experience {
  background: white;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 5px 5px rgba(0,0,0,0.30);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.type-list {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.type {
  height: 40vh;
  width: 49vw;
  margin: 10px;
  background: white;
  color: black;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.30);
}

#select-type-prompt {
  font-size: 35px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.rating-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.current-rating {
  font-size: 200px;
  border: 6px solid black;
  border-radius: 100%;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* h1 {
  margin-top: 0;
  padding-top: 25px;
} */

a {
  color: white;
  text-decoration: none;
}

.experience-form-container a {
  color: var(--nice-orange);
}

.popup-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  /* display: flex; */
  background: rgba(200, 200, 200, .5);
}

#x {
  position: relative;
  font-size: 40px;
  padding: 10px;
}

#x:hover {
  cursor: pointer;
}

#msg {
  align-self: center;
}

@media only screen and (max-width: 800px) {
  #logo-container {
    left: 10px;
  }

  .header-button {
    font-size: 10px;
  }

  .header-content {
    display: none;
  }

  .burger {
    display: block;
    height: 4px;
    background: white;
    width: 45px;
    margin: 2px;
    border-radius: 2px;
  }

  .burger-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    right: 50px;
    transition: background-color 500ms;
  }

  .burger-container:hover {
    height: 60px;
    width: 60px;
    right: 45px;
    background-color: var(--hover-blue);
    border-radius: 100%;
  }

  .inner-user-profile-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .user-profile {
    min-width: 300px;
    width: 85%;
    margin-right: 15px;
  }

  .line {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 400px) {
  .burger {
    display: block;
  }

  .burger-container {
    position: relative;
    right: 30px;
  }
}

@media only screen and (max-width: 520px) {
  .user-experience-list {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .user-experience {
    margin: 10px 15px 10px 10px;
  }
}
